<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Basic HTML5 Template</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

</head>

<body>
<div class="container">
    <a class="" href="{{ url_for('index') }}"><span class="lang">ZMIANA        UZYTKOWNIKA</span></a>
    <p style="font-size: 30px; max-width: 500px; position: absolute;    top:  20%;    left: 50%;    transform: translate(-50%,-50%);">
        {{current_user}} Co wie? Czy coś wie? Sprawdźmy to! </p>
    <div id="rank-set" style="position: absolute;    top:  50%;    left: 20%;    transform: translate(-50%,-50%); padding: 2em; background-color: #BBFF22; border-radius: 20px">


    </div>
    <div id="question-set" style="position: absolute;    top:  50%;    left: 50%;    transform: translate(-50%,-50%); padding: 2em; background-color: #FFBB22; border-radius: 20px">


        <button id="submit" class="button is-block is-info is-large is-fullwidth">Sprawdz</button>
    </div>
    <a id='rank' href="/main/get_leader_board" class="" style="margin-left: 15px" ><span
            class="lang">RANKING</span></a>
    <a class="" style="margin-left: 15px" href="{{ url_for('main.question_page') }}"><span
    class="lang">POJEDYNCZE PYTANIA</span></a>
</div>
<script src="{{url_for('static', filename='js/index2.js')}}"></script>

</body>
</html>
