<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>A Basic HTML5 Template</title>
    <meta name="description" content="A simple HTML5 Template for new projects.">
    <meta name="author" content="SitePoint">

</head>

<body>
<div class="container">
    <a class="" href="{{ url_for('index') }}"><span class="lang">ZMIANA        UZYTKOWNIKA</span></a>
    <p style="font-size: 30px; max-width: 500px; position: absolute;    top:  20%;    left: 50%;    transform: translate(-50%,-50%);">
        {{current_user}} Co wie? Czy coś wie? Sprawdźmy to! </p>
    <div style="position: absolute;    top:  50%;    left: 50%;    transform: translate(-50%,-50%); padding: 2em; background-color: #FFBB22; border-radius: 20px">
        <button id="easy" class="button is-block is-info is-large is-fullwidth" style="display: inline">EASY</button>
        <button id="medium" class="button is-block is-info is-large is-fullwidth" style="display: inline">MEDIUM
        </button>
        <button id="hard" class="button is-block is-info is-large is-fullwidth" style="display: inline">HARD</button>
        <p id="question_content" style="font-size: 10px"></p>
        <div>
            <input type="radio" id="value_1"
                   name="quiz" value="true">
            <label for="value_1">Prawda</label>

            <input type="radio" id="value_2"
                   name="quiz" value="false">
            <label for="value_2">Fałsz</label>
        </div>
        <button onclick="console.log('test')" id="submit" class="button is-block is-info is-large is-fullwidth">Sprawdz</button>
    </div>
    <a id='rank' href="/main/get_leader_board" class="" style="margin-left: 15px" ><span
            class="lang">RANKING</span></a>
    <a class="" style="margin-left: 15px" href="{{ url_for('main.multiple_question_page') }}"><span
    class="lang">WIELE PYTAŃ</span></a>
</div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>
</html>
